#particles-js {
	width: 100%;
	height: 100vh;
}

.wavesdim {
  margin-top: 1vh;
  margin-left: 1vh;
  height: 98vh;
  width: 98vw;
}


section {
    position: relative;
    background-color: #222;
    color: #fff;
    height: 100vh;
    transition: background-color 1.5s ease;
}

.container-fluid {
    position: absolute;
    margin-top: 2rem;
}

.curriculum, .curriculum:visited {
  color: #cccccc
}

.curriculum:hover {
  color: #fff;
  text-decoration: underline;
}

h1 {
  font-size: 5rem; 
  margin-bottom: 1.1rem;
}

ul {
  font-size: 1.25rem; 
  font-weight: 300; 
  margin-bottom: 1.1rem;
}

/** Custom Button **/
.cbtn {
  border-color: #fff;
  color: #fff;
  margin-right: .90rem;
}

.cbtn:hover {
  border-color: #fff;
  color: #31102f;
  background-color: #fff;
}

.cbtn:focus {
  box-shadow: none
}

.cprj {
  border-radius: 2rem; 
  margin-right:0rem; 
  margin-top: 2.5rem; 
  font-size: 1.2rem;
}

@media (max-width: 575px) {
  .container-fluid {
    margin-top: 1.2rem;
  }

  h1 {
    font-size: 3.5rem; 
    margin-bottom: 1rem;
  }

  ul {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    padding-left: 1.7rem;
  }

  ul ul {
    padding-left: 1rem;
  }

  .cbtn {
    padding-top: 0.25rem;
    padding-right: 0.35rem;
    padding-bottom: 0.25rem;
    padding-left: 0.35rem;
    margin-right: .3rem;
  }

  .cprj {
    margin-top: 1.5rem; 
    font-size: 1.2rem;
  }
}

/** SLIDER **/
.block {
  background: #fff;
    color: #3498db;
    font-size: 36px;
    line-height: 50vh;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
}

.slider .slick-center h3 {
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
    -webkit-transform: scale(1.08);
    color: #e67e22;
    opacity: 1;
    transform: scale(1.08);
  }

  /* Icon Hang */
  @-webkit-keyframes hvr-icon-hang {
    0% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
    50% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
    }
    100% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @keyframes hvr-icon-hang {
    0% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
    50% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
    }
    100% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @-webkit-keyframes hvr-icon-hang-sink {
    100% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @keyframes hvr-icon-hang-sink {
    100% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
  }

  .hvr-icon-hang {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    padding-right: 2.3em;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-icon-hang:before {
    content: "\f078";
    position: absolute;
    right: 1em;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .hvr-icon-hang:hover:before, .hvr-icon-hang:active:before {
    -webkit-animation-name: hvr-icon-hang-sink, hvr-icon-hang;
    animation-name: hvr-icon-hang-sink, hvr-icon-hang;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }
