#cover {
    position: relative;
    background-color: #000;
    color: #fff;
}

#home {
    position: absolute;
}

.cbtn {
  border-color: #fff;
  color: #fff;
}

.cbtn:hover {
  border-color: #fff;
  color: #000;
  background-color: #fff;
}

.cbtn:focus {
  box-shadow: none
}
